<div class="container">
    <h1>Kontakt hinzufügen</h1>
  <form #contactForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <label for="firstname">Vorname</label>
        <input matInput type="text" class="form-control" id="firstname" required
               [(ngModel)]="contact.firstName"
               name="firstname">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <label for="lastname">Nachname</label>
        <input matInput type="text" class="form-control" id="lastname" required
               [(ngModel)]="contact.lastName"
               name="lastname">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <label for="email">Email</label>
        <input matInput type="text" class="form-control" id="email" required
               [(ngModel)]="contact.email"
               name="email">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <label>Account</label>
        <mat-select [(value)]="contact.account">
        <mat-option *ngFor="let account of accounts" [value]="account">
          {{account.compName}}
        </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class ="form-group">
    <mat-form-field>
      <mat-label>Notizen hinzufügen</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5">
      </textarea>
    </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit"  (click)="onSubmit()">Submit</button>

  </form>
</div>
