<div class="container">
  <h1>Branchendetails</h1>
  <div class="form-group">

    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="data.id" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="data.name" [readonly]="isReadOnly">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Zusatz" [(ngModel)]="data.additive" [readonly]="isReadOnly">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Übergeordnet" [(ngModel)]= "data.mother.name" [readonly]="isReadOnly">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Erstellt am" [ngModel]="data.createdDate | date:'dd/MM/yyyy'" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field >
      <input matInput placeholder="Zuletzt geändert am" [ngModel]="data.lastModifiedDate | date:'dd/MM/yyyy'" readonly>
    </mat-form-field>
  </div>

  <mat-dialog-actions align="center">
    <button mat-raised-button type="button" class="changeBtn" color="primary" (click)="onEdit()">Bearbeiten</button>
    <button mat-raised-button type="submit" class="changeBtn" color="primary" [mat-dialog-close]="data" (click)="onSubmit()">Speichern</button>
    <button mat-raised-button type="submit" class="changeBtn" color="primary" [mat-dialog-close]="data" (click)="onDelete()">Gruppe löschen</button>
  </mat-dialog-actions>

</div>
