.header {
  font-weight: lighter;
  margin: 20px;
  letter-spacing: 2px;
}

.filler {
  flex: 1 1 auto;
}

.toolbar {
  flex: 1 1 auto;
  display: flex;
}

img {
  top: 6px;
  height: 60px;
  position: relative;
}

.mat-tab-link {
  margin: 20px;
  text-decoration-line: none;
  font-weight: lighter;
  font-size: 13pt;
  color: white;
}

table {
  width: 100%;
}


