.header {
  font-weight: lighter;
  margin: 20px;
  letter-spacing: 2px;
}

.filler {
  flex: 1 1 auto;
}

<<<<<<< Updated upstream
.toolbar {
  flex: 1 1 auto;
  display: flex;
}

img {
  margin-top: 6px;
=======
img {
  top: 6px;
>>>>>>> Stashed changes
  height: 60px;
  position: relative;
}

.mat-tab-link {
  margin: 20px;
  text-decoration-line: none;
  font-weight: lighter;
<<<<<<< Updated upstream
  font-size: 13pt;
=======
  font-size: 12pt;
>>>>>>> Stashed changes
  color: white;
}

table {
  width: 100%;
}


