  <div class="container">
    <div class="mat-app-background">
      <mat-toolbar color="primary">
        <span></span>

        <!-- This fills the remaining space of the current row -->

        <div class="toolbar">
          <span class ="header">Standortagentur Leonding</span>

          <a      routerLink="/contacts"
                  class="mat-tab-link"
                  >Kontakte</a>

          <a      routerLink="/accounts"
                  class="mat-tab-link"
                  >Organisationen</a>

        <a      routerLink="/groups"
                class="mat-tab-link"
                >Branchen</a>

      <span class= "filler"></span>

          <a>
            <img src="assets/img/SDBGreyNoC.png"></a>

        </div>
      </mat-toolbar>
    </div>
  </div>
  <router-outlet></router-outlet>
