.mat-tab-link {
  text-decoration-line: none;
  font-weight: lighter;
}

.nav-bar1 {
  position: relative;
  top: 250px;
  margin-top: 10px;
  border: none;
}

.nav-bar2 {
  position: relative;
  top: 10px;
  margin-top: 10px;
  border: none;
}
