.mat-tab-link {
  text-decoration-line: none;
  font-weight: lighter;
}

.nav-bar1 {
  position: relative;
  top: 250px;
  margin-top: 10px;
  border: none;
<<<<<<< HEAD
=======
  right: -7px;
>>>>>>> 414173f13d519f8948a2465cfc857345b2078e29
}

.nav-bar2 {
  position: relative;
  top: 10px;
  margin-top: 10px;
  border: none;
<<<<<<< HEAD
=======
  right: -7px;
>>>>>>> 414173f13d519f8948a2465cfc857345b2078e29
}
