
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-raised-button color="primary"
        (click)="openAddGroupDialog()">Branche hinzufügen
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="groupTableSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td  *matCellDef="let group" mat-cell> {{group.name}}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="additive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zusatz</th>
      <td mat-cell *matCellDef="let group"> {{group.additive}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>erstellt am</th>
      <td mat-cell *matCellDef="let group"> {{group.createdDate | date: 'd.L.y'}} </td>
    </ng-container>

    <ng-container matColumnDef="mother">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Übergeordnet</th>
      <td mat-cell *matCellDef="let group"> {{group.mother.name }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="openGroupDetailsDialog(group)" mat-row *matRowDef="let group; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]"></mat-paginator>
</div>
<button mat-raised-button color="primary" (click)="exportAsExcel() ">Excel</button>
