<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-raised-button color="primary"
        (click)="openAddContactDialog() ">Kontakt hinzufügen
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tableSource"
    matSort
    matSortActive="lastName"
    matSortDirection="asc">

    <!-- LastName Coloumn -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
      <td mat-cell *matCellDef="let contact"> {{contact.lastName}} </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
      <td mat-cell *matCellDef="let contact"> {{contact.firstName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
    </ng-container>

    <!-- Account Column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
      <td mat-cell *matCellDef="let contact"> {{contact.account.compName}} </td>
    </ng-container>

    <!-- Create Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>erstellt am</th>
      <td mat-cell *matCellDef="let contact"> {{contact.createdDate | date: 'd.L.y'}} </td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Notizen</th>
      <td mat-cell *matCellDef="let contact"> {{contact.notes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let contact
        columns: displayedColumns">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<button mat-raised-button color="primary" (click)="exportAsExcel() ">Excel</button>
