table {
  width: 100%;
  margin-left: auto;

}
.contact-table {
  width:100%;
}

td.mat-cell {
  border-bottom-width: thin;
}
.mat-row {
  cursor: pointer;
}
.mat-raised-button {
  text-decoration-line: none;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  font-weight: lighter;
  color: white;
}

mat-form-field {
  margin-left: 20px;
}

.mat-row:hover {
  background-color: #ab8d38;
}
