table {
  width: 100%;
  margin-left: auto;

}
.contact-table {
  width:100%;
}

.mat-raised-button {
  text-decoration-line: none;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  background-color: #FFB55F;
  font-weight: lighter;
}

mat-form-field {
  margin-left: 20px;
}

/*number not changing color yet*/
::ng-deep .mat-focused mat-paginator-page-size {
  background-color: #FFB55F !important;
}

::ng-deep .mat-focused .mat-form-field-ripple{
  background-color: #FFB55F !important;
}

::ng-deep .mat-focused .mat-form-field-label{
  color: #FFB55F !important;
}

.mat-row:hover {
  background-color: #FFB55F;
}
