<div class="container">
  <h1>Account Form</h1>
  <form #accountForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <label for="compname">Firmenname</label>
        <input matInput type="text" class="form-control" id="compname" required
               [(ngModel)]="account.compName"
               name="firstname">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <label for="email">email</label>
        <input matInput type="text" class="form-control" id="email" required
               [(ngModel)]="account.email"
               name="email">
      </mat-form-field>
    </div>



    <button mat-raised-button color="primary" type="submit"  (click)="onSubmit()">Submit</button>

  </form>
</div>
