<div class="container">
  <h1>Account Form</h1>
  <form #accountForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <label for="compname">Firmenname</label>
        <input matInput type="text" class="form-control" id="compname" required
               [(ngModel)]="account.compName"
               name="compname">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <label for="email">Email</label>
        <input matInput type="text" class="form-control" id="email" required
               [(ngModel)]="account.email"
               name="email">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="companyType">Branche</label>
        <input matInput type="text" class="form-control" id="companyType"
               [(ngModel)]="account.companyType"
               name="postpositiveTitle">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="phone1">Telefon</label>
        <input matInput type="text" class="form-control" id="phone1"
               [(ngModel)]="account.phone"
               name="phone1">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="phone2">Telefon 2</label>
        <input matInput type="text" class="form-control" id="phone2"
               [(ngModel)]="account.phone2"
               name="phone2">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="street">Strasse</label>
        <input matInput type="text" class="form-control" id="street"
               [(ngModel)]="account.street"
               name="street">
      </mat-form-field>

      <mat-form-field>
        <label for="PLZ">PLZ</label>
        <input matInput type="text" class="form-control" id="PLZ"
               [(ngModel)]="account.postCode"
               name="PLZ">
      </mat-form-field>
      <mat-form-field>
        <label for="place">Ort</label>
        <input matInput type="text" class="form-control" id="place"
               [(ngModel)]="account.place"
               name="place">
      </mat-form-field>
      <mat-form-field>
        <label for="country">Land</label>
        <input matInput type="text" class="form-control" id="country"
               [(ngModel)]="account.country"
               name="country">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="ustID">Steuernummer</label>
        <input matInput type="text" class="form-control" id="ustID"
               [(ngModel)]="account.ustID"
               name="ustID">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="homepage">Homepage</label>
        <input matInput type="text" class="form-control" id="homepage"
               [(ngModel)]="account.homepage"
               name="homepage">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="nrOfEmployees">Mitarbeiteranzahl</label>
        <input matInput type="number" class="form-control" id="nrOfEmployees"
               [(ngModel)]="account.nrOfEmployees"
               value="0"
               name="nrOfEmployees">
      </mat-form-field>
    </div>



    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Hinzufügen</button>
    <button mat-raised-button color="primary" (click)="onCancel()">Abbrechen</button>
  </form>
</div>
