h1{
  width: 200px;
  position: relative;
  left: 225px;
  font-weight: lighter;
  float: top;
}

.mat-form-field {
  position: relative;
  top: 30px;
  right: 130px;
  float: right;
  margin-right: 20px;
}

::ng-deep .mat-focused .mat-form-field-ripple{
  background-color: #FFB55F !important;
}

button {
  position: relative;
  top: 115px;
  left: 430px;
  background-color:#FFB55F;
}

.mat-raised-button {
  background-color:#FFB55F;
  font-weight: lighter;
}
