h1{
  width: 200px;
  position: relative;
  left: 225px;
  font-weight: lighter;
  float: top;
}

.mat-form-field {
  position: relative;
  top: 30px;
  right: 130px;
  float: right;
  margin-right: 20px;
}

button {
  position: relative;
  top: 115px;
  left: 430px;
}

.mat-raised-button {
  font-weight: lighter;
}

.mat-row:hover {
  background-color: #bbbac1
}
