<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nachname</th>
        <th scope="col">Vorname</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.firstName }}</td>
        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
