h1 {
  width: 300px;
  position: relative;
  left: 150px;
  font-weight: lighter;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.address {
  display: block;
  width: min-content;
  flex-wrap: wrap;
  .street {

    width: 700px;
  }

}


mat-form-field {
  width: 50%;
}
