.dialog-header-title {
  width: 500px;
  position: relative;
  top: -50px;
  left: 30%;
  font-weight: lighter;
}

h1 {
  font-weight: lighter;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*.address {
  display: block;
  width: min-content;
  flex-wrap: wrap;
  .street {

    width: 700px;
  }

}*/

button {
  font-weight: lighter;
}

.buttonContainer {
  display: inline-block;
  flex-direction: row;
  width: 100%;

  mat-dialog-actions {
    padding: 0px;
    min-height: 0px;
    margin-bottom: 0px;
  }
}

.editButton {
  margin-bottom: 5px;
  margin-top: 5px;
}

.mat-raised-button {
  background-color: #888888;
  top: -20px;
  left: -5px;
}

mat-form-field {
  width: 50%;
}

mat-expansion-panel {
  margin: 5px;
  outline-color: #ab8d38;
  background-color: dimgray;
}

.single-mat-field mat-form-field{
  width: 100%;
}
