<div class="container">
  <div>
    <h1>Account Details</h1>
    <div class="editButtons">
      <div>
        <button mat-raised-button type="button" class="changeBtn"
                color="primary"
                (click)="onEdit()"
                [disabled]=this.changeActive>Bearbeiten
        </button>
      </div>
      <div>
        <button mat-raised-button type="submit" class="changeBtn" color="primary" [mat-dialog-close]="data"
                (click)="onDelete()">Account löschen
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="data.id" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Firmenname" autofocus [(ngModel)]="data.compName" [readonly]="isReadOnly">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="data.email" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Branche" [(ngModel)]="data.companyType" [readonly]="isReadOnly">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Telefon" [(ngModel)]="data.phone" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Telefon 2" [(ngModel)]="data.phone2" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Strasse" [(ngModel)]="data.street" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="PLZ" [(ngModel)]="data.postCode" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Ort" [(ngModel)]="data.place" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Land" [(ngModel)]="data.country" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Mitarbeiteranzahl" [(ngModel)]="data.nrOfEmployees" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Steuernummer" [(ngModel)]="data.ustID" [readonly]="isReadOnly">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Homepage" [(ngModel)]="data.homepage" [readonly]="isReadOnly">
    </mat-form-field>
  </div>


  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Erstellt am" [ngModel]="data.createdDate | date:'dd/MM/yyyy'"
             (ngModelChange)="data.createdDate"
             readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Zuletzt geändert am" [ngModel]="data.lastModifiedDate | date:'dd/MM/yyyy'"
             (ngModelChange)="data.lastModifiedDate"
             readonly>
    </mat-form-field>
  </div>

  <mat-dialog-actions float="right">
    <button mat-raised-button type="submit" class="changeBtn" color="primary" [mat-dialog-close]="data"
            (click)="onSubmit()">Speichern
    </button>
  </mat-dialog-actions>

</div>

