<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-raised-button color="primary"
        (click)="openAddAccountDialog()">Account hinzufügen
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="accountTableSource" matSort
    matSortActive="ID"
    matSortDirection="asc">

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let account">{{account.id}}</td>
    </ng-container>

    <ng-container matColumnDef="compName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td  *matCellDef="let account" mat-cell>
        {{account.compName}}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let account"> {{account.email}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>erstellt am</th>
      <td mat-cell *matCellDef="let account">{{account.createdDate | date: 'd.L.y'}}</td>
    </ng-container>

    <ng-container matColumnDef="lastModifiedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>zuletzt geändert</th>
      <td mat-cell *matCellDef="let account">{{account.lastModifiedDate | date: 'd.L.y'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="openAccountDetailsDialog(account)" mat-row *matRowDef="let account; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]"></mat-paginator>
</div>
<button mat-raised-button color="primary" (click)="exportAsExcel() ">Excel</button>
