<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-raised-button color="primary"
        (click)="openAddAccountDialog()">Organisation hinzufügen
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="accountTableSource" matSort
         matSortActive="ID"
         matSortDirection="asc">

    <ng-container matColumnDef="compName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td *matCellDef="let account" mat-cell>
        {{account.compName}}</td>
    </ng-container>

    <ng-container  matColumnDef="companyType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branche</th>
      <ng-container>
        <td mat-cell *matCellDef="let account"> {{account.branche.name}} </td>
      </ng-container>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let account"> {{account.email}} </td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Strasse</th>
      <td mat-cell *matCellDef="let account"> {{account.street}} </td>
    </ng-container>
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ort</th>
      <td mat-cell *matCellDef="let account"> {{account.place}} </td>
    </ng-container>
    <ng-container matColumnDef="postCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PLZ</th>
      <td mat-cell *matCellDef="let account"> {{account.postCode}} </td>
    </ng-container>

    <ng-container matColumnDef="nrOfEmployees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mitarbeiteranzahl</th>
      <td mat-cell *matCellDef="let account">{{account.nrOfEmployees}}</td>
    </ng-container>

    <ng-container matColumnDef="ustID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Steuernummer</th>
      <td mat-cell *matCellDef="let account">{{account.ustID}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="openAccountDetailsDialog(account)" mat-row *matRowDef="let account; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]"></mat-paginator>
</div>
<button mat-raised-button color="primary" (click)="exportAsExcel() ">Excel</button>
