<div class="container">
  <h1>Kontakt Details</h1>

  <mat-dialog-actions align="end" class="top-button">
    <button mat-raised-button color="primary" type="button" (click)="accordion.openAll()">Alle Felder öffnen</button>
    <button mat-raised-button color="primary" type="button" (click)="accordion.closeAll()">Alle Felder schließen
    </button>
  </mat-dialog-actions>

  <div class="editButton" align="end">
    <div>
      <button mat-raised-button type="button" class="changeBtn"
              color="primary"
              (click)="onEdit()"
              [disabled]=this.changeActive>Bearbeiten
      </button>
    </div>
  </div>

  <div class="deleteButton" align="end">
    <div>
      <button mat-raised-button type="submit" class="deleteContact"
              color="primary" [mat-dialog-close]="data"
              (click)="onDelete()">Kontakt löschen
      </button>
    </div>
  </div>

  <br>
  <!--<mat-form-field>
    <mat-select [(value)]="contact.group" [compareWith]="compareByGroupId" placeholder="Branche"
                [disabled]="isReadOnly">
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->
  <mat-accordion #accordion="matAccordion" [multi]="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Persönliche Daten
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Anrede" [(ngModel)]="data.appellation" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Titel" [(ngModel)]="data.title" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Vorname" [(ngModel)]="data.firstName" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nachname" [(ngModel)]="data.lastName" [readonly]="isReadOnly">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kontaktdaten
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="1. E-Mail" [(ngModel)]="data.email" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="2. E-Mail" [(ngModel)]="data.email2" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="1. Telefonummer" [(ngModel)]="data.phone" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="2. Telefonummer" [(ngModel)]="data.phone2" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="3. Telefonummer" [(ngModel)]="data.phone3" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="4. Telefonummer" [(ngModel)]="data.phone4" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Fax" [(ngModel)]="data.fax" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Homepage" [(ngModel)]="data.homepage" [readonly]="isReadOnly">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anschrift
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Straße" [(ngModel)]="data.street" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="PLZ" [(ngModel)]="data.postCode" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Ort" [(ngModel)]="data.place" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Land" [(ngModel)]="data.country" [readonly]="isReadOnly">
        </mat-form-field>

        <div class="single-mat-field">
          <mat-form-field>
            <input matInput placeholder="Region" [(ngModel)]="data.region" [readonly]="isReadOnly">
          </mat-form-field>
        </div>
      </div>
      <!--
            <mat-form-field>
              <input matInput placeholder="1. RefAdresse" [(ngModel)]="data.refAddress" [readonly]="isReadOnly">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="2. RefAdresse" [(ngModel)]="data.refAddress2" [readonly]="isReadOnly">
            </mat-form-field>

            <mat-card>Postfach</mat-card>

            <mat-form-field>
              <input matInput placeholder="Postfach" [(ngModel)]="data.mailbox" [readonly]="isReadOnly">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Ort" [(ngModel)]="data.mailboxPlace" [readonly]="isReadOnly">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="PLZ" [(ngModel)]="data.mailboxPostcode" [readonly]="isReadOnly">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Land" [(ngModel)]="data.mailboxCountry" [readonly]="isReadOnly">
            </mat-form-field>-->
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Organisation 1
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="Organisation 1" [(value)]="data.account1" [compareWith]="compareById"
                      [disabled]="isReadOnly">
            <mat-option *ngFor="let account of accounts" [value]="account">
              {{account.compName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Funktion" [(ngModel)]="data.function1" [readonly]="isReadOnly">
        </mat-form-field>
      </div>

      <div class="single-mat-field">
        <mat-form-field>
          <input matInput placeholder="Abteilung" [(ngModel)]="data.department1" [readonly]="isReadOnly">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Organisation 2
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="Organisation 2" [(value)]="data.account2" [compareWith]="compareById"
                      [disabled]="isReadOnly">
            <mat-option *ngFor="let account of accounts" [value]="account">
              {{account.compName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Funktion" [(ngModel)]="data.function2" [readonly]="isReadOnly">
        </mat-form-field>
      </div>

      <div class="single-mat-field">
        <mat-form-field>
          <input matInput placeholder="Abteilung" [(ngModel)]="data.department2" [readonly]="isReadOnly">
        </mat-form-field>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Organisation 3
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="Organisation 3" [(value)]="data.account3" [compareWith]="compareById"
                      [disabled]="isReadOnly">
            <mat-option *ngFor="let account of accounts" [value]="account">
              {{account.compName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Funktion" [(ngModel)]="data.function3" [readonly]="isReadOnly">
        </mat-form-field>
      </div>

      <div class="single-mat-field">
        <mat-form-field>
          <input matInput placeholder="Abteilung" [(ngModel)]="data.department3" [readonly]="isReadOnly">
        </mat-form-field>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Notizen
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="single-mat-field">
        <mat-form-field>
          <textarea [(ngModel)]="data.notes" [readonly]="isReadOnly"
                    placeholder="Notizen"
                    matInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
        </textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datenschutz
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-checkbox [(ngModel)]="data.dsvAnonymised" [disabled]="isReadOnly">Anonymisiert</mat-checkbox>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Anonymisiert von" [(ngModel)]="data.dsvAnonymisedBy" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="date" placeholder="Datenerhebung am"
                 [ngModel]="data.dsvDataCollection | date:'yyyy-MM-dd'" (ngModelChange)="data.dsvDataCollection=$event"
                 [readonly]="isReadOnly">
        </mat-form-field>

        <div class="single-mat-field">
          <mat-form-field>
            <input matInput placeholder="Datenherkunft" [(ngModel)]="data.dsvSourceOfData" [readonly]="isReadOnly">
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <mat-checkbox [(ngModel)]="data.dsvDirectAdFlag" [disabled]="isReadOnly">Keine Direktwerbung</mat-checkbox>
        <mat-checkbox [(ngModel)]="data.dsvNotification" [disabled]="isReadOnly">Person gem. Art.14 informiert
        </mat-checkbox>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zusätze
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="1. Zusatz" [(ngModel)]="data.additional" [readonly]="isReadOnly">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="2. Zusatz" [(ngModel)]="data.additional2" [readonly]="isReadOnly">
      </mat-form-field>

      <div class="single-mat-field">
        <mat-form-field>
          <input matInput placeholder="3. Zusatz" [(ngModel)]="data.additional3" [readonly]="isReadOnly">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-checkbox [(ngModel)]="data.freeFlag1" [disabled]="isReadOnly">1. Freies Kennzeichen</mat-checkbox>
        <mat-checkbox [(ngModel)]="data.freeFlag2" [disabled]="isReadOnly">2. Freies Kennzeichen</mat-checkbox>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Administration
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Hinzugefügt von" [(ngModel)]="data.creatorID" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Hinzugefügt am" [ngModel]="data.createdDate | date:'dd/MM/yyyy'"
                 (ngModelChange)="data.createdDate"
                 readonly>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Geändert von" [(ngModel)]="data.editedByID" [readonly]="isReadOnly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Zuletzt geändert" [ngModel]="data.lastModifiedDate | date:'dd/MM/yyyy'"
                 (ngModelChange)="data.lastModifiedDate"
                 readonly>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-dialog-actions align="center">
    <button mat-raised-button type="submit" class="changeBtn" color="primary" [mat-dialog-close]="data"
            (click)="onSubmit()">Speichern
    </button>
  </mat-dialog-actions>
</div>
