h1 {
  width: 300px;
  position: relative;
  left: 150px;
  font-weight: lighter;
}

mat-form-field {
  width: 50%;
}

.single-mat-field mat-form-field{
  width: 100%;
}

mat-button-toggle-group {
  margin-top: 15px;
  margin-right: 50%;
}

mat-card {
  width: 50%;
  margin-bottom: 10px;
}

mat-checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

.mat-raised-button {
  font-weight: lighter;
}

mat-placeholder {
  color: #ab8d38;
}

mat-expansion-panel {
  margin: 5px;
  outline-color: #ab8d38;
  background-color: dimgray;

}


/*.mat-expansion-panel-header.mat-expanded {
  background: #888888;
}*/

